
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="javascript:void(0)" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3 *ngIf="!userprofileService.isLoggedIn()">Ansøgningsskema</h3>
                            <h3 *ngIf="userprofileService.isLoggedIn()">{{ userprofileService.userProfile[0].field_first_name_export }} {{userprofileService.userProfile[0].field_last_name_export}} - {{userprofileService.userProfile[0].field_profile_number_export}}</h3>
                            <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                       </div>
                       
                       <div class="step-right">
                            <h4>PERSONLIG INFO </h4>
                            <div class="step-block1">
                                  <div class="form-row"><input type="text" class="input1" placeholder="Email" [(ngModel)]="userprofileService.userProfile[0].name_export"></div>
                                 <div class="row">
                                      <div class="col-6"><div class="form-row"><input [(ngModel)]="userprofileService.userProfile[0].field_cellphone_export" type="text" class="input1" placeholder="Mobil"></div></div>
                                      <div class="col-6"><div class="form-row"><input [(ngModel)]="userprofileService.userProfile[0].field_telephone_export[0]" type="text" class="input1" placeholder="Telefon"></div></div>
                                 </div>
                                 <div class="form-row"><input [(ngModel)]="userprofileService.userProfile[0].field_occupation_export" type="text" class="input1" placeholder="Beskæftigelse"></div>
                            </div>
                            
                            <div class="step-block2">
                                 <div class="row">
                                      <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Dag</option>
                                                 <option>Dag 1</option>
                                                 <option>Dag 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>Måned</option>
                                                 <option>Måned 1</option>
                                                 <option>Måned 2</option>
                                              </select>
                                          </div>
                                       </div>
                                       <div class="col-4">
                                          <div class="form-row">
                                               <select class="custom-select">
                                                 <option>År</option>
                                                 <option>År 1</option>
                                                 <option>År 2</option>
                                              </select>
                                          </div>
                                       </div>
                                 </div>
                                 <div class="form-row"><input [(ngModel)]="userprofileService.userProfile[0].field_ethnic_origin_export" type="text" class="input1" placeholder="Etnisk oprindelse"></div>
                                 <div class="form-row">
                                        <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_gender_export">
                                         <option>Køn</option>
                                         <option value="1" [selected]="userprofileService.userProfile[0].field_gender_export == 1">Male</option>
                                         <option value="2" [selected]="userprofileService.userProfile[0].field_gender_export == 2">Female</option>
                                      </select>

                                 </div>
                            </div>
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>02</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a class="prev-btn" routerLink="/login/1">FORRIGE</a><a class="next-btn" routerLink="/login/3">NÆSTE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->