.step-block8{
    img {
        width: auto;
        height: 130px;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: cover;
        -o-object-position: center top;
        object-position: center top;
        border: 1px solid #313235;
    }
} 
.submit1 {
    position: relative;
    top: 250px;
}