<castit-header></castit-header>

<div class="home-section">
  <div class="container-lg">
    <div id="content" class="main_content">
      <div class="row">
        <div class="mobileOptions col-12">
          <button class="btn searchIcon" type="button" data-toggle="collapse" data-target="#searchBox" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/images/search.svg" alt=""  title="Search">
          </button>
          <!-- <button class="btn lightboxIcon" type="button" data-toggle="collapse" data-target="#lightbox" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/images/lightbox.svg" alt=""  title="Search">
          </button> -->
        </div>
        <div id="searchBox" class="leftbar">
          <div class="leftbox">
            <h2>{{ 'profiles.searchName' | translate }}</h2>
            <span class="side-searchbox">
              <input [(ngModel)]="searchFN" type="text" class="side-input ng-pristine ng-untouched ng-valid">
              <input type="button" class="side-search">
            </span>
          </div>
          <div class="leftbox">
            <h2>{{ 'profiles.searchGender' | translate }}</h2>
            <ul class="ul-style1">
              <li><a [ngClass]="{'gender_select': searchGender === 1}" (click)="setGender(1)" > {{ 'profiles.male' | translate }}</a></li>
              <li><a [ngClass]="{'gender_select': searchGender === 2}" (click)="setGender(2)" >{{ 'profiles.female' | translate }}</a></li>
            </ul>
          </div>
          <div class="leftbox2">
            <h2 class="ng-binding">{{ 'profiles.age' | translate }}</h2>
            <div class="side-form">
              <span class="form-span">
                <input value="" type="text" class="side-input2" placeholder="Fra">
              </span> <span class="form-devider"></span> <span class="form-span">
                <input type="text" value="" class="side-input2" placeholder="Til">
              </span>
            </div>
          </div>
          <div class="side-bottom">
            <input (click)="submitSearch()" type="submit" class="side-submit" value="{{ 'profiles.search' | translate }}">
            <input (click)="resetSearch()" type="submit" class="side-submit" value="{{ 'profiles.reset' | translate }}">
          </div>
        </div>
        <!--leftbar-->

        <div class="rightbar">
          <div class="rightbar_inner scrollbar">
            <div class="overflow">
              <ul>
                <!-- <li>
                  <div class="galler-thumb">
                    <img [src]="defaultImage" alt="" />
                    <a href="javascript:void(0)" class="plus-icon"></a>
                    <div class="gallery-hover">
                      <p>Venkatesh CM8090<br><strong>35 år</strong></p>
                    </div>
                  </div>
                </li> -->

                <li *ngFor="let item of data">
                  <div class="galler-thumb">
                    <img (click)="loadProfile(item.uid_export)" alt="" [lazyLoad]="item.field_photo_thumbnails_export[0] || item.field_photos_export[0]" [defaultImage]="defaultImage" [errorImage]="profileFallback" />
                    <a href="javascript:void(0)" class="plus-icon" (click)="addModelToLightbox(item)"></a>
                    <div class="gallery-hover">
                      <p>{{ item.field_first_name_export }} {{ item.field_profile_number_export }}<br><strong>{{ appService.getAge(item.field_birthday) }} {{ 'profiles.years' | translate }}</strong></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="gallery-controlls">
            <a href="javascript:void(0)" class="controll-top"></a>
            <a href="javascript:void(0)" class="controll-down"></a>
          </div>
        </div>
        <!--rightbar-->


      </div>
    </div>
  </div>
</div>

<app-lightboxsidebar ></app-lightboxsidebar>
<app-addtolightbox *ngIf="userprofileService.showAddToLightboxComponent"></app-addtolightbox>
<router-outlet></router-outlet>