<div class="page-header">
  <div class="container-lg">
    <div class="row">
      <div class="col-2"><a href="#"><img src="assets/images/logo-black.svg" alt="" /></a></div>
      <div class="col-10">
        <nav class="navbar navbar-expand-md">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
              class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li *ngIf="!userprofileService.isLoggedIn()" class="nav-item"> <a routerLink="/login" class="nav-link" >Login</a> </li>
              <li *ngIf="userprofileService.isLoggedIn()" class="nav-item"> <a routerLink="/logout" class="nav-link" >Log ud</a> </li>
              <li *ngIf="!userprofileService.isLoggedIn()" class="nav-item"> <a routerLink="/login/1" class="nav-link" >Ansøgning</a> </li>
              <li *ngIf="userprofileService.isLoggedIn()" class="nav-item"> <a routerLink="/login/1" class="nav-link" >Min profil</a> </li>
              <li class="nav-item"> <a routerLink="/about" class="nav-link" >Om Castit</a> </li>
              <li class="nav-item"> <a routerLink="/workshop" class="nav-link" >Castit Workshop</a> </li>
              <li class="nav-item"> <a class="nav-link">Kontakt</a>
                <p>+45 21 28 58 25 <br><a >info@castit.dk</a></p>
              </li>
              <li class="nav-item"> <a class="nav-link">Adresse</a>
                <p>Rosenvængets Allé 11, 1. sal <br>2100 København Ø</p>
              </li>
            </ul>
          </div>
        </nav>

        <div class="language"> <span class="active">DA</span> / <span>EN</span></div>
        <div class="social"><a href="#" class="facebook"><img src="assets/images/facebook.svg" alt="" /></a></div>
      </div>
    </div>
  </div>
</div>


<div class="home-section">
  <div class="container-lg">
    <div id="content" class="main_content">
      <div class="row">
        <div class="leftbar">
          <div class="leftbox">
            <h2>Navn/Nr</h2>
            <span class="side-searchbox">
              <input [(ngModel)]="searchFN" type="text" class="side-input ng-pristine ng-untouched ng-valid">
              <input type="button" class="side-search">
            </span>
          </div>
          <div class="leftbox">
            <h2>Køn</h2>
            <ul class="ul-style1">
              <li><a [ngClass]="{'gender_select': searchGender === 1}" (click)="setGender(1)" > Mand</a></li>
              <li><a [ngClass]="{'gender_select': searchGender === 2}" (click)="setGender(2)" >Kvinde</a></li>
            </ul>
          </div>
          <div class="leftbox2">
            <h2 class="ng-binding">Alder</h2>
            <div class="side-form">
              <span class="form-span">
                <input value="" type="text" class="side-input2" placeholder="Fra">
              </span> <span class="form-devider"></span> <span class="form-span">
                <input type="text" value="" class="side-input2" placeholder="Til">
              </span>
            </div>
          </div>
          <div class="side-bottom">
            <input (click)="submitSearch()" type="submit" class="side-submit" value="SØG">
            <input (click)="resetSearch()" type="submit" class="side-submit" value="Reset">
          </div>
        </div>
        <!--leftbar-->

        <div class="rightbar">
          <div class="rightbar_inner scrollbar">
            <div class="overflow">
              <ul>
                <!-- <li>
                  <div class="galler-thumb">
                    <img [src]="defaultImage" alt="" />
                    <a href="#" class="plus-icon"></a>
                    <div class="gallery-hover">
                      <p>Venkatesh CM8090<br><strong>35 år</strong></p>
                    </div>
                  </div>
                </li> -->

                <li *ngFor="let item of data">
                  <div class="galler-thumb">
                    <img (click)="loadProfile(item.uid_export)" alt="" [lazyLoad]="item.field_photos_export?item.field_photos_export[0]:profileFallback" [defaultImage]="defaultImage" [errorImage]="profileFallback" />
                    <a href="#" class="plus-icon"></a>
                    <div class="gallery-hover">
                      <p>{{ item.field_first_name_export }} {{ item.field_profile_number_export }}<br><strong>{{ item['age'] }} år</strong></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="gallery-controlls">
            <a href="#" class="controll-top"></a>
            <a href="#" class="controll-down"></a>
          </div>
        </div>
        <!--rightbar-->


      </div>
    </div>
  </div>
</div>
