<castit-header></castit-header>

<div class="workshop-section">
    <div class="container-lg about-container">
         <div class="row">
              <div class="col-12"><h2>Om Castit</h2></div>
              <div class="col-6">
                     <p>Castit er et bureau som har specialiseret sig i at finde personer til medvirken på fotos og i reklamefilm. Karakterer som man husker og som har den helt rigtige personlighed og udseende. Vi finder både skuespillere, amatører og street caster. Vi har altid et bredt udvalg og kan levere karakterer til alle typer roller og behov.</p>
                   <p>Hvis du som kunde, har travlt og ved hvad du præcis vil have, er du altid velkommen til at starte med at søge i vores store online kartotek og vælge dem ud, som du kan lide. Vi opdaterer hyppigt dette kartotek og hjælper hele vejen. Vi har også et stort offline kartotek, som vi meget gerne sender forslag fra.</p>
                   <p>Hvis du ønsker at være en del af vores kartotek, enten som skuespiller, model eller blot en god karakter, er du altid meget velkommen til at kontakte os eller ansøge med foto her på sitet.</p>
              </div>
              <div class="col-6">
                   <div class="om-castit-right">
                     <p>Hos Castit gør vi altid vores bedste. Vores priser er altid fair og lette at forstå.</p>
                   <p>Vi er meget fokuseret på at hjælpe dem vi caster til at yde deres absolut bedste til vores castinger. Vi er altid to personer i studiet når vi caster til større film. Dette skaber en tryghed for spillerne og det bedste resultat.</p>
                   <p><strong>Cathrine Hovmand<br>Castit</strong></p>
                   <p>*Castit er stiftet af Cathrine Hovmand i år 2000 i København. Bureauet har kunder over det meste af verden og har leveret medvirkende til flere tusinde reklamer. Både film og foto. Castit var det første online and offline casting bureau i Skandinavien, og er stadig blandt er de største og mest efterspurgte.</p>
                   </div>
              </div>
         </div>
    </div>
</div>