.profiles_loader{
    background: url('/assets/images/loader/PolygonLoader.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
.gender_select{
    border: 2px solid gray;
    background-color:#fff;
    color:black !important;
    font-weight: bold;
}
.side-submit{
    margin-bottom: 10px;
}