.selected-button {
    background-color: black;
    color: #ffffff !important;
}
.popup-big{
    position: absolute;
    top: 150px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    margin-bottom: 100px;
}
.popup-big-right .input1{
    color: black;
}