<div class="popup1">

    <div class="popup-header">
        <div class="container-lg">
            <div class="popup-logo"><a href="javascript:void(0)" [routerLink]="['/profiles']"><img src="assets/images/logo-white.svg" alt=""></a></div>
            <a href="javascript:void(0)" class="close-icon" [routerLink]="['/profiles']"></a>
        </div>
    </div>
    <!--popup-header-->

    <div class="popup-content">
        <div class="container-lg">
            <div class="cnt">
                <div class="cnt-block1">
                    <h3>Nulstil dit kodeord</h3>
                    <p>Indtast din registrerede email, så fremsender vi <br>et link, hvorfra du kan oprette et nyt
                        kodeord.</p>
                    <div class="form-block">
                        <form action="" #fc="ngForm" (ngSubmit)="resetPassword(user)">
                            <div class="form-row">
                                <label>EMAIL</label>
                                <input name="email" type="text" class="input1" placeholder="Email" [(ngModel)]="user.name" required>
                            </div>
                            <div *ngIf="isLoading" class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-row button-row">
                                <input [disabled]="!fc.valid" type="submit" class="submit1" value="Send">
                                <a href="javascript:void(0)" class="back-btn" [routerLink]="['/profiles']"  >Tilbage</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--popup-content-->

</div>
<!--popup1-->

<router-outlet></router-outlet>