<castit-header></castit-header>


<div class="workshop-section">
    <div class="container-lg about-container">
         <div class="row">
              <div class="col-12"><h2>Castit Workshop</h2></div>
              <div class="col-6">
                     <p><strong>ReFocusMethod – At være overbevisende foran et kamera.</strong></p>
                   <p>Lær, hvordan du leverer en overbevisende og kraftfuld optræden med en kort forberedelsestid.</p>
                   <p>For at du kan blive den bedste udgave af dig selv som model eller skuespiller, samarbejder vi med Tony Grahn. Tony har mange års international erfaring med at uddanne professionelle og amatører i, hvordan man forbliver afslappet og nærværende foran et kamera.</p>
                   <p>På denne workshop vil du få praktiske og effektive værktøjer, som hjælper dig med at komme hurtigt ind i den rigtige følelse og stemning til både castinger og på optagelse.</p>
                   <p><strong>Lær hvordan du holder fokus når du står foran en større gruppe af mennesker.</strong></p>
                   <p><strong>Lær hvordan du hurtigt kommer ind i forskellige stemninger.</strong></p>
                   <p><strong>Lær hvordan du præsenterer dig selv på den bedste måde.</strong></p>
                   <p>Næste workshop afholdes d. 28 februar og 1 marts, 2020 hos Castit i København.</p>
                   <p>Max 8 deltagere. Varighed 2 dage af 8 timer. Frokost og drikkevarer er inkluderet.</p>
                   <p>For yderligere information, kontakt venligst Tony Grahn via nedenstående knap.</p>
                   <div class="text-right"><a href="#" class="workshop-button">{{ 'workshop.questionsButton' | translate }}</a></div>
              </div>
              <div class="col-6"><img src="assets/images/workshop-img.png" alt=""/></div>
         </div>
    </div>
</div>