    
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="javascript:void(0)" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3>Gem ansøgning</h3>
                            <p>BEMÆRK: For at ansøge om en <br>profil bedes du klikke på Gem. <br>Herefter tages du videre til næste <br>side, hvor du kan uploade dine <br>billeder og film.</p>
                       </div>
                       
                       <div class="step-right">
                            
                            <div class="step-block1 w-315">
                                 <div class="step-block3">
                                      <h4>GEM DIN PROFIL</h4>
                                        <div class="child-option m-15">
                                             <div class="custom-control custom-checkbox">
                                                  <input [(ngModel)]="userprofileService.userProfile[0].field_agreed_to_terms_export" type="checkbox" class="custom-control-input" id="customCheck" name="">
                                                  <label class="custom-control-label" for="customCheck"><em>Bekræft din accept</em></label>
                                             </div>
                                       </div>
                                       <p>Jeg bekræfter, at jeg accepterer Castit juridiske betingelser, som kan tilgås via dette link: </p>
                                       <p><a href="javascript:void(0)">Juridiske betingelser</a></p>
                                       
                              
                                       <input type="button" (click)="saveUser()" class="submit1 m-top-24" value="Gem profil" routerLink="/login/7">
                                 </div>
                                
                            </div>
                            
                            
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>06</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a href="javascript:void(0)" class="prev-btn active" routerLink="/login/5">FORRIGE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->