
    
    <div class="popup1">
    
        <div class="popup-header">
              <div class="container-lg">
                <div class="popup-logo"><a href="javascript:void(0)" [routerLink]="['/profiles']"><img src="assets/images/logo-white.svg" alt=""></a></div>
                <a href="javascript:void(0)" class="close-icon" [routerLink]="['/profiles']"></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div *ngIf="allowNewPass" class="cnt-block1">
                            <h3>Indtast nyt kodeord</h3>
                            <p>Indtast dit nye kodeord nedenfor og <br>klik herefter Gem.</p>
                            <form action="" #fc="ngForm" (ngSubmit)="newPassword(password)">
                            <div class="form-block">
                                  <div class="form-row">
                                        <label>NY KODE</label>
                                      <input name="passOne" [(ngModel)]="passOne" type="password" class="input1" placeholder="*****">
                                 </div>
                                 <div class="form-row">
                                        <label>GENTAG KODE</label>
                                      <input name="passTwo" [(ngModel)]="passTwo" type="password" class="input1" placeholder="*****">
                                 </div>
                                <div *ngIf="mismatch" class="form-row">
                                    <label>Passwords Mismatch</label>
                                </div>
                                 <div class="form-row button-row">
                                      <input type="submit" class="submit1" value="GEM">
                                 </div>
                            </div>
                            </form>
                       </div>
                       <div class="cnt-block1">
                            <label>Link Expired. Try reset password again</label>
                       </div>
                       
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->

   <router-outlet></router-outlet>