	<div class="wrapper-black">

	  <div class="popup-header">
	    <div class="container-lg">
	      <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
	      <a href="javascript:void(0)" class="close-icon" routerLink="/profiles"></a>
	    </div>
	  </div>
	  <!--popup-header-->

	  <div class="popup-content">
	    <div class="container-lg">
	      <div class="cnt">
	        <div class="step-left">
				<h3 *ngIf="!userprofileService.isLoggedIn()">{{ 'profileUpdate.applicationForm' | translate }}
				</h3>
				<h3 *ngIf="userprofileService.isLoggedIn()">
					 {{ userprofileService.userProfile[0].field_first_name_export }}
					 {{userprofileService.userProfile[0].field_last_name_export}} -
					 {{userprofileService.userProfile[0].field_profile_number_export}}</h3>
				<p *ngIf="!userprofileService.isLoggedIn()">{{ 'profileUpdate.applicationNote' | translate }}
				</p>
				<p *ngIf="userprofileService.isLoggedIn()">{{ 'profileUpdate.updateNote' | translate }}</p>
		   </div>

		   <div class="step-right">
				<h4>{{ 'profileUpdate.caption' | translate }} </h4>
	          <div class="child-option">
	            <div class="custom-control custom-checkbox">
	              <input type="checkbox" class="custom-control-input" id="customCheck" [(ngModel)]="showChildrenSizes" (change)="childrenSizes()" name="">
	              <label class="custom-control-label" for="customCheck">Vis børnestørrelser</label>
	            </div>
	          </div>
	          <div class="step-block1 w-360">
	            <div class="row">
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_shirt_size_from_export">
	                    <option disabled selected value="">Skjorter fra</option>
	                    <option *ngFor="let item of ShirtSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_shirt_size_to_export">
	                    <option disabled selected value="">Skjorter til</option>
	                    <option *ngFor="let item of ShirtSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_pant_size_from_export">
	                    <option disabled selected value="">Bukser fra</option>
	                    <option *ngFor="let item of PantSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_pant_size_to_export">
	                    <option disabled selected value="">Bukser til</option>
	                    <option *ngFor="let item of PantSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_shoe_size_from_export">
	                    <option disabled selected value="">Sko fra</option>
	                    <option *ngFor="let item of ShoeSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	              <div class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_shoe_size_to_export">
	                    <option disabled selected value="">Sko til</option>
	                    <option *ngFor="let item of ShoeSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div *ngIf="userprofileService.userProfile[0].field_gender_export === '1'" class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_suit_size_from_export">
	                    <option disabled selected value="">Jakkesæt fra</option>
	                    <option *ngFor="let item of listofSuitSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
	              </div>
	              <div *ngIf="userprofileService.userProfile[0].field_gender_export === '1'" class="col-6">
	                <div class="form-row">
	                  <select class="custom-select"
	                    [(ngModel)]="userprofileService.userProfile[0].field_suit_size_to_export">
	                    <option disabled selected value="">Jakkesæt til</option>
	                    <option *ngFor="let item of listofSuitSizes" [ngValue]="item">{{item}}</option>
	                  </select>
	                </div>
				  </div>
				  <div *ngIf="userprofileService.userProfile[0].field_gender_export === '2'" class="col-6">
	                <div class="form-row">
						<input [(ngModel)]="userprofileService.userProfile[0].field_bra_export" type="text" class="input1"
	                    placeholder="BH STR">
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="step-block2 w-360">
	            <div class="row">
	              <div class="col-6">
	                <div class="form-row">
	                  <input [(ngModel)]="userprofileService.userProfile[0].field_height_export" type="text" class="input1"
	                    placeholder="Højde">
	                </div>
	              </div>
				
	            <div class="col-6">
	              <div class="form-row">
	                <input [(ngModel)]="userprofileService.userProfile[0].field_weight_export" type="text" class="input1"
	                  placeholder="Vægt"></div>
	            </div>
	          </div>

	          <div class="row">
	            <div class="col-6">
	              <div class="form-row">
	                <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_hair_color_export">
	                  <option disabled selected value="">Hårfarve</option>
	                  <option *ngFor="let item of listofHairColors" [ngValue]="item+1">{{item}}</option>
	                </select>
	              </div>
				</div>
			  
	            <div class="col-6">
	              <div class="form-row">
	                <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_eye_color_export">
	                  <option disabled selected value="">Øjenfarve</option>
	                  <option *ngFor="let item of listofEyeColors" [ngValue]="item+1">{{item}}</option>
	                </select>
	              </div>
	            </div>
	          </div>

	        </div>
	      </div>

	    </div>

	    <div class="step-bottom">
	      <div class="bottom-left">
	        <h2><span>03</span>/07</h2>
	      </div>
	      <div class="bottom-right"><a class="prev-btn" routerLink="/login/2">{{ 'profileUpdate.previous' | translate }}</a><a class="next-btn"
	          routerLink="/login/4">{{ 'profileUpdate.next' | translate }}</a></div>
	    </div>
	  </div>
	</div>
	<!--popup-content-->

	</div>
	<!--popup1-->
