    
    <div class="wrapper-black">
    
        <div class="popup-header">
              <div class="container-lg">
                  <div class="popup-logo"><a routerLink="/profiles"><img src="assets/images/logo-white.svg" alt=""></a></div>
                  <a href="javascript:void(0)" class="close-icon" routerLink="/profiles" ></a>
             </div>
        </div><!--popup-header-->
        
        <div class="popup-content">
             <div class="container-lg">
                  <div class="cnt">
                          <div class="step-left">
                            <h3 *ngIf="!userprofileService.isLoggedIn()">Ansøgningsskema</h3>
                            <h3 *ngIf="userprofileService.isLoggedIn()">{{ userprofileService.userProfile[0].field_first_name_export }} {{userprofileService.userProfile[0].field_last_name_export}} - {{userprofileService.userProfile[0].field_profile_number_export}}</h3>
                            <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                       </div>
                       
                       <div class="step-right">
                            
                            <div class="step-block1 w-315">
                                 
                                 <div class="step-block3">
                                      <h4>SPROG</h4>
                                        <div class="form-row">
                                             <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_language_one_export">
                                                 <option>Modersmål</option>
                                                 <option *ngFor="let language of listOfLanguageNames; let i = index" [selected]="listOfLanguageIDs[i] == userprofileService.userProfile[0].field_language_one_export" [(ngValue)]="listOfLanguageIDs[i]">{{ language }}</option>
                                             </select>
                                      </div>
                                      <div class="form-row">
                                             <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_language_two_export">
                                                 <option>Sprog</option>
                                                 <option *ngFor="let language of listOfLanguageNames; let i = index" [selected]="listOfLanguageIDs[i] == userprofileService.userProfile[0].field_language_two_export" [(ngValue)]="listOfLanguageIDs[i]">{{ language }}</option>
                                             </select>
                                      </div>
                                      <div class="form-row">
                                               <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_language_three_export">
                                                 <option>Sprog</option>
                                                 <option *ngFor="let language of listOfLanguageNames; let i = index" [selected]="listOfLanguageIDs[i] == userprofileService.userProfile[0].field_language_three_export" [(ngValue)]="listOfLanguageIDs[i]">{{ language }}</option>
                                              </select>
                                      </div>
                                      <div class="form-row">
                                               <select class="custom-select" [(ngModel)]="userprofileService.userProfile[0].field_language_four_export">
                                                 <option>Sprog</option>
                                                 <option *ngFor="let language of listOfLanguageNames; let i = index" [selected]="listOfLanguageIDs[i] == userprofileService.userProfile[0].field_language_four_export" [(ngValue)]="listOfLanguageIDs[i]">{{ language }}</option>
                                              </select>
                                      </div>
                                 </div>
                                 
                                 <div class="step-block4">
                                      <h4>DIT NIVEAU</h4>
                                        <div class="form-row">
                                              <div class="stares">
                                                  <ngb-rating max="4" [(rate)]="userprofileService.userProfile[0].field_language_one_rating_export">
                                                       <ng-template let-fill="fill" let-index="index">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                          </ng-template>
                                                  </ngb-rating>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                              <div class="stares">
                                          <ngb-rating max="4" [(rate)]="userprofileService.userProfile[0].field_language_two_rating_export">
                                                       <ng-template let-fill="fill" let-index="index">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                          </ng-template>
                                                  </ngb-rating>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                              <div class="stares">
                                          <ngb-rating max="4" [(rate)]="userprofileService.userProfile[0].field_language_three_rating_export">
                                                       <ng-template let-fill="fill" let-index="index">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                          </ng-template>
                                                  </ngb-rating>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                              <div class="stares">
                                          <ngb-rating max="4" [(rate)]="userprofileService.userProfile[0].field_language_four_rating_export">
                                                       <ng-template let-fill="fill" let-index="index">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                          </ng-template>
                                                  </ngb-rating>
                                           </div>
                                      </div>
                                 </div>
                                 
                                 
                            </div>
                            
                            <div class="step-block2 w-400">
                                 <div class="step-block5">
                                      <h4>NIVEAU SKALA</h4>
                                        <div class="form-row">
                                           <span class="star-label">Begynder</span>
                                           <div class="stares">
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                           <span class="star-label">Mellem</span>
                                           <div class="stares">
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                           <span class="star-label">Flydende</span>
                                           <div class="stares">
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star.svg" alt=""/>
                                           </div>
                                      </div>
                                      <div class="form-row">
                                           <span class="star-label">Perfekt</span>
                                           <div class="stares">
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           <img class="star-img" src="assets/images/star-white.svg" alt=""/>
                                           </div>
                                      </div>
                                 </div>
                                 
                                 <div class="step-block6">
                                      <h4>DIALEKTER</h4>
                                        <div class="form-row">
                                               <input [(ngModel)]="userprofileService.userProfile[0].field_dialect_one_export" id="dialect1" type="text" class="input1" placeholder="Noter her">
                                      </div>
                                      <div class="form-row">
                                               <input [(ngModel)]="userprofileService.userProfile[0].field_dialect_two_export" id="dialect2" type="text" class="input1" placeholder="Noter her">
                                      </div>
                                      <div class="form-row">
                                               <input [(ngModel)]="userprofileService.userProfile[0].field_dialect_three_export" id="dialect3" type="text" class="input1" placeholder="Noter her">
                                      </div>
                                 </div>
                                 
                            </div>
                       </div>
                       
                  </div>
                  
                  <div class="step-bottom">
                       <div class="bottom-left">
                            <h2><span>05</span>/07</h2>
                       </div>
                          <div class="bottom-right"><a class="prev-btn" routerLink="/login/4">FORRIGE</a><a class="next-btn" routerLink="/login/6">NÆSTE</a></div>
                  </div>
             </div>
        </div><!--popup-content-->
        
   </div><!--popup1-->